<section class="forecast">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- forecast header -->
                <div class="forecast__header">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- display city name and current year -->
                            <div class="forecast__header-heading text-center">
                                {{city}} - 2020
                            </div>
                        </div>
                        <!-- temperature C/F toggle button -->
                    </div>
                </div>
                <!-- forecast body -->
                <div class="forecast__body">
                    <div class="row" ng-if="!errorHandler">
                        <div class="col-md-4" ng-repeat="w in weatherApiResult">
                            <weather-report weather-data="w" convert-to-standard="convertToCelcius(daytimeTemp)" 
                            convert-to-date-directive="convertToDate(dt)" date-format="MMM d - H:mm"></weather-report>
                        </div>
                    </div>
                    <!-- Error message -->
                    <div class="row mt-5" ng-if="errorHandler">
                        <div class="col-md-12 text-center">
                            <h4>This {{errorMessage}}</h4>
                        </div>
                    </div>
                </div>
                <!-- End of forecast body -->
            </div>
            <!-- End of col-md-12 -->
        </div>
        <!-- End of row -->
    </div>
    <!-- End of container -->
</section>